<template>
  <nav class="shadow-top">
    <d-button class="button primary spacing-default"
      >Kostenlos Registrieren</d-button
    >
  </nav>
</template>

<script>
import DButton from '@/components/DButton'
export default {
  components: {
    DButton,
  },
}
</script>

<style lang="postcss" scoped>
nav {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  @apply fixed z-20 bottom-0 w-full bg-white p-6 md:px-10 lg:px-16 xl:px-24 rounded-t-xl;
}
</style>
