<template>
  <button>
    <slot></slot>
  </button>
</template>

<style lang="postcss" scoped>
button.primary {
  color: rgba(230, 255, 250, 1);
  background-image: var(--gradient-primary);
}
button {
  @apply w-full p-5 text-lg rounded-xl font-semibold;
}
</style>
