<template>
  <div class="steps">
    <div v-for="(step, index) in steps" :key="step.id" class="steps__item">
      <div class="steps__title">
        <div class="steps__number">{{ index + 1 }}.</div>
        <div class="steps__description">
          {{ step.description }}
        </div>
      </div>
      <img :src="step.svg" class="steps__svg" />
      <div class="shape">
        <div :class="shapes[index]"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    steps: {
      type: Array,
      required: false,
      default() {
        return []
      },
    },
  },
  data() {
    return {
      shapes: ['shape__circle', 'shape__curve', 'shape__double-circle'],
    }
  },
}
</script>

<style lang="postcss" scoped>
/* ---STEPS */
.steps {
  @apply w-full bg-transparent;
}
.steps__item {
  @apply flex flex-col relative;
  /* @apply border border-black border-dashed; */
}
.steps__item:first-child {
  @apply flex-col-reverse;
}
.steps__title {
  color: #718096;

  @apply flex items-baseline relative z-10 w-4/5 text-lg py-10;
}
.steps__item:nth-child(2) .steps__title {
  @apply pl-5;
}
.steps__item:nth-child(3) .steps__title {
  @apply pl-10 items-center;
}
.steps__description {
  @apply text-left;
}
.steps__number {
  font-size: 9rem;
}
.steps__svg {
  @apply relative z-10 w-3/5 mx-auto;
}

/* ---SHAPES */
.shape {
  @apply absolute left-0 z-0 overflow-visible;
}
.steps__item:nth-child(1) .shape {
  @apply -left-10;
}
.steps__item:nth-child(2) .shape {
  @apply w-full h-full;
}
.shape__circle,
.shape__double-circle {
  position: relative;
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  background-color: #f7fafc;
}

.shape__double-circle::after {
  content: ' ';
  width: 50%;
  height: 50%;
  background-color: #f7fafc;
  border-radius: 50%;
  @apply absolute -right-10 bottom-0;
}
.shape__curve {
  height: 100%;
  width: 300%;
  background-image: url(/images/steps-2nd-curves.svg);
  @apply absolute top-0 left-0 bg-cover bg-no-repeat;
}
</style>
