<template>
  <div class="tab-wrapper spacing-default">
    <div
      v-for="cat in categories"
      :key="cat.title + Math.random()"
      class="tab-wrapper__item"
      :class="{
        'tab-wrapper__item_active': selectedCategory.title === cat.title,
      }"
      @click="handleClickSelectCategory(cat)"
    >
      {{ cat.title }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    categories: {
      type: Array,
      default() {
        return []
      },
    },
    selectedCategory: {
      type: Object,
      default() {
        return null
      },
    },
  },
  methods: {
    handleClickSelectCategory(cat) {
      this.$emit('update-category', cat)
    },
  },
}
</script>

<style lang="postcss" scoped>
.tab-wrapper {
  @apply inline-flex rounded-md border border-gray my-2  overflow-hidden text-lg relative z-10;
}
.tab-wrapper__item {
  width: 161px;
  @apply py-2 px-5 font-bold bg-white text-primary text-center cursor-pointer;
}
/* override glitchy hover */
.tab-wrapper__item_active,
.tab-wrapper__item_active.tab-wrapper__item:hover {
  @apply bg-primary-light text-white transition-colors duration-200 ease-in;
}
.tab-wrapper__item:hover {
  background-color: #e6fffa;
  @apply text-primary;
}

.tab-wrapper__item:not(:last-child) {
  @apply border-r border-gray;
}
</style>
