<template>
  <div class="hero-section__title">
    <h1>
      <slot></slot>
    </h1>
    <img
      src="/images/hero-handshake.svg"
      alt="Illustration of a handshake"
      class="svg"
    />
  </div>
</template>

<style lang="postcss" scoped>
.hero-section__title {
  background-image: url(/images/hero-curves.svg);
  @apply relative w-full my-0 pb-5 bg-bottom bg-cover bg-no-repeat;
}
.hero-section__title h1 {
  @apply w-4/5 text-center mx-auto py-6;
}
.svg {
  @apply w-full;
}
</style>
