<template>
  <header>
    <div class="shape-gradient"></div>
    <div class="header-items">
      <nuxt-link class="header-items__link spacing-default" to="/login">
        Login
      </nuxt-link>
    </div>
  </header>
</template>
<style lang="postcss" scoped>
header {
  @apply fixed top-0 z-20 w-full text-lg shadow-lg bg-white;
}
.header-items__link {
  @apply text-primary font-semibold;
}
.header-items {
  @apply flex justify-end items-center p-6;
}
.shape-gradient {
  height: 5px;
  background: transparent var(--gradient-primary);
  @apply absolute top-0 w-full bg-black;
}
</style>
