:root {
  --color-primary: #319795;
  --gradient-primary: linear-gradient(95deg, #319795, #3182ce);
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  font-family: 'lato';
  overflow-x: hidden;
}

@layer components {
  body {
    padding-top: 56.8px;
    padding-bottom: 86.8px;
  }
  h1 {
    @apply text-5xl lg:text-6xl font-medium;
  }
  .shadow-top {
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3);
  }
  .spacing-default {
    letter-spacing: 0.84px;
  }
}
