<template>
  <div class="app">
    <main-header />
    <main>
      <hero-section>Deine Job website</hero-section>
      <d-tab
        :categories="categories"
        class="transform transition-transform duration-200 ease-in-out"
        :class="{
          'translate-x-first ': selectedCategory.title === 'Arbeitnehmer',
          'translate-x-middle ': selectedCategory.title === 'Arbeitgeber',
          'translate-x-last': selectedCategory.title === 'Temporärbüro',
        }"
        :selected-category="selectedCategory"
        @update-category="updateCategory"
      />
      <d-steps :steps="selectedCategory.steps"></d-steps>
    </main>
    <call-to-action :class="{ cta: true, 'cta-hidden': !isUserScrolling }" />
  </div>
</template>

<script>
// transform -translate-x-1/3
import CallToAction from '../components/CallToAction.vue'
import DTab from '../components/DTab.vue'
import DSteps from '../components/DSteps.vue'
import HeroSection from '../components/HeroSection.vue'
import MainHeader from '../components/MainHeader.vue'

import categoryData from '@/assets/data/categories.json'

export default {
  components: { CallToAction, HeroSection, MainHeader, DTab, DSteps },
  data() {
    return {
      categories: categoryData.data,
      selectedCategory: categoryData.data[0],
      isUserScrolling: false,
    }
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll)
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll)
  },

  methods: {
    handleScroll(event) {
      // i should probably add a debounce function so that this doesn't always get evaluated
      this.isUserScrolling = window.scrollY > 0
    },
    updateCategory(e) {
      this.selectedCategory = e
    },
  },
}
</script>

<style lang="postcss" scoped>
.app {
  position: relative;
}
.cta {
  @apply bottom-0  transition-all duration-200 ease-in-out;
}
.cta-hidden {
  bottom: -68px;
}
.translate-x-first {
  transform: translateX(14.33333%);
}
.translate-x-middle {
  transform: translateX(-16.66667%);
}
.translate-x-last {
  transform: translateX(-48.66667%);
}
</style>
